{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>OER Tutor: GA Monitor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/bootstrap.superhero.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/ga_monitor.css' %}" rel="stylesheet" media="screen">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/d3.v3.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% block headinclude %}{% endblock %}
    </head>
    <body class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header h1">Generation members</div>
        </div>
        <div class="col-lg-12">
            <ul class="nav nav-tabs" style="margin-bottom: 15px;">
            {% for generation in generations %}
                {% if forloop.counter == 1 %}
                <li class="active">
                    <a href="#members_of_generation{{ generation.id }}"
                        data-toggle="tab">{{ forloop.counter0 }}</a>
                </li>
                {% else %}
                <li>
                    <a href="#members_of_generation{{ generation.id }}"
                        data-toggle="tab">{{ forloop.counter0 }}</a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
            <div id="myTabContent" class="tab-content">
            {% for generation in generations %}
                {% if forloop.counter == 1 %}
                <div class="tab-pane fade active in"
                  id="members_of_generation{{ generation.id }}">
                {% else %}
                <div class="tab-pane fade"
                  id="members_of_generation{{ generation.id }}">
                {% endif %}
                    <table class="table table-bordered table-hover">
                        <thead>
                            <th>ID</th><th>Resources</th><th>Fitness</th>
                        </thead>
                        <tbody>
                        {% for individual in generation.individuals %}
                            <tr>
                                <td style='padding-top: 15px'>
                                    <h4>{{ individual.id }}</h4>
                                </td>
                                <td>
                                <div class="row">
                            {% for gene in individual.genes %}
                                <div class="col-lg-3 col-md-6"
                                        style="padding:5px;">
                                    <div class="well" style='margin:0'>
										<span class="badge" style='background: black'>{{gene.id}}</span>
                                        <a class="h4"
                                            href="{{gene.link}}"
                                            target="blank"
                                            style='text-decoration: none;'>
                                            {{ gene.title }}
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                                </div>
                                </td>
                                <td style='padding-top: 15px'>
                                    <h4>{{individual.fitness}}</h4>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="col-lg-12">
            <div class="page-header h1">Cumulative Regret</div>
        </div>
        <div class="col-lg-12">
			<div class="well" id="regret-function">
		<script>
		var margin = {top: 20, right: 20, bottom: 30, left: 50},
			width = 960 - margin.left - margin.right,
			height = 500 - margin.top - margin.bottom;

		var x = d3.scale.linear()
			.range([0, width]);

		var y = d3.scale.linear()
			.range([height, 0]);

		var xAxis = d3.svg.axis()
			.scale(x)
			.orient("bottom");

		var yAxis = d3.svg.axis()
			.scale(y)
			.orient("left");

		var line = d3.svg.line()
			.x(function(d) { return x(d.evaluation); })
			.y(function(d) { return y(d.regret); });

		var svg = d3.select("#regret-function").append("svg")
			.attr("width", width + margin.left + margin.right)
			.attr("height", height + margin.top + margin.bottom)
		  .append("g")
			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		data = [
		{% for regret in regret_data %}
		{% if forloop.last %}
			{"evaluation": {{ forloop.counter }}, regret: {{ regret }}}
		{% else %}
			{"evaluation": {{ forloop.counter }}, regret: {{ regret }}},
		{% endif %}
		{% endfor %}
		];
		cumul = 0.0
		data.forEach(function(d) {
			d.regret = cumul+d.regret;
			cumul = d.regret
		});

		x.domain(d3.extent(data, function(d) { return d.evaluation; }));
		y.domain(d3.extent(data, function(d) { return d.regret; }));

		svg.append("g")
		  .attr("class", "x axis")
		  .attr("transform", "translate(0," + height + ")")
		  .call(xAxis)
		.append("text")
		  .style("text-anchor", "end")
		  .attr("x", width)
		  .attr("dy", "-.71em")
		  .text("Evaluation");

		svg.append("g")
		  .attr("class", "y axis")
		  .call(yAxis)
		.append("text")
		  .attr("transform", "rotate(-90)")
		  .attr("y", 6)
		  .attr("dy", ".71em")
		  .style("text-anchor", "end")
		  .text("Cumulative Regret");

		svg.append("path")
		  .datum(data)
		  .attr("class", "line")
		  .attr("d", line);
		</script>

        </div>
	</div>
    </body>
</html>
