<div class='form-group'>
	<label for="{{q.handle}}"><h4>{{q.question}}</h4></label>
	<div class='row'>
	{% for answer in q.multiplechoicequestion.answers.all %}
	<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
		<label style='width: 100%; display: block;'>
			<div class='row'>
				<div class='col-lg-3 col-md-3 col-sm-3 col-xs-3'>
					<input type='radio' class='form-control input-md'
					 name="{{q.handle}}" value="{{ answer.handle }}" />
				</div>
				<div class='col-lg-9 col-md-9 col-sm-9 col-xs-9'>
				<div class='lead'>{{ answer.body }}</div>
				</div>
			</div>
		</label>
	</div>
	{% endfor %}
	</div>
</div>
