{% extends "index.html" %}
{% load staticfiles %}

{% block content %}
<div class='well'>
    <form method="post" action='/tutor/next'>
        {% csrf_token %}
        <fieldset>
			<legend><h2>{{ test.title }}</h2></legend>
            {% for q in questions %}
				<div class="panel panel-default">
					<div class="panel-heading">
						Question {{ forloop.counter }}
					</div>
					<div class="panel-body">
						{% include q.template with q=q %}
					</div>
				</div>
            {% endfor %}
        </fieldset>
        <button type='submit' class='btn btn-primary btn-lg'>Submit answers</button>
    </form>
</div>
{% endblock %}
