/*table .btn {
  padding: 1px 5px 1px;
  font-size: 9px;
  margin-right: -3px;
}*/

body {
    padding-top: 50px;
}

.table td {
    vertical-align: middle;
}

.kc {
    height: 80px;
    margin: 5px 0 5px 0;
    background: LightYellow;
    color: DarkRed;
    padding: 5px;
}

.kc h2 {
    font-size: 16px;
    font-weight: bold;;
    margin: 0px;
}

.table td.buttons {
    text-align:right;
}

#loginModal .error {
  display: none;
}

.logged-in {
  display: none;
}

.logged-in .user {
  color: #DD0000;
}

#oer-container{
    width: 100%;
    height: 100%;
}
