.nim.stackcontainer{
    position: relative;
}
.nim.stack{
    width: 80px;
	text-align: center;
	font-weight: bold;
	padding-top: 5px;
    font-size: 16px;
    color: white;
    background: #df691a;
    position: absolute;
    bottom: 0px;
}
.nim.stack.empty{
    color: black;
	padding-top: 0;
    background: white;
    border: thin solid black;
}

.nim.stack:hover {
    background: black;
    cursor: pointer;
}

.nim.stack.static:hover {
    background: #df691a;
    cursor: default;
}

.nim.stack.empty:hover {
    background: white;
    cursor: default;
}
